<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/login.css">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</head>

<body style="background-image: url(css/default/img/login_bg.jpg) ">
<div id="wrapper">
    <div class="aw-login-box">
        <div class="mod-body clearfix">
            <div class="content pull-left">
                <a href="https://elasticsearch.cn/"><img height="80px" style="background:#181413" src="https://elasticsearch.cn/static/css/default/img/logo.svg" alt="" /></a>
                <h2 style="color: white">Elastic 中文社区</h2>
                <form id="login_form" method="post" onsubmit="return false" action="https://elasticsearch.cn/account/ajax/login_process/">
                    <input type="hidden" name="return_url" value="https://elasticsearch.cn/" />
                    <ul>
                        <li>
                            <input type="text" id="aw-login-user-name" class="form-control" placeholder="邮箱 / 用户名" name="user_name" />
                        </li>
                        <li>
                            <input type="password" id="aw-login-user-password" class="form-control" placeholder="密码" name="password" />
                        </li>
                        <li class="alert alert-danger hide error_message">
                            <i class="icon icon-delete"></i> <em></em>
                        </li>
                        <li class="last">
                            <a href="javascript:;" onclick="AWS.ajax_post($('#login_form'), AWS.ajax_processer, 'error_message');" id="login_submit" class="pull-right btn btn-large btn-primary">登录</a>
                            <label>
                                <input type="checkbox" value="1" name="net_auto_login" />
                                记住我							</label>
                            <a href="https://elasticsearch.cn/account/find_password/">&nbsp;&nbsp;忘记密码</a>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="side-bar pull-left">

                <h3>第三方账号登录</h3>
                <a href="https://elasticsearch.cn/account/openid/github/bind/return_url-aHR0cHM6Ly9lbGFzdGljc2VhcmNoLmNuLw==" class="btn btn-block btn-github"> <i class="icon icon-github"></i> Github 登录</a>
                <a target="_blank" href="http://elasticsearch.mikecrm.com/P3I77NC" class="btn btn-block btn-twitter"> <i class="icon icon-help"></i> 官方订阅&支持</a>


            </div>
        </div>
        <div class="mod-footer">
            <span>还没有账号?</span>&nbsp;&nbsp;
            <a href="">立即注册</a>&nbsp;&nbsp;•&nbsp;&nbsp;
            <a href="/">游客访问</a>
        </div>
    </div>
</div>

</body>
</html>
